%meta{:content => "#{edition}. #{t.meta.name}", :property => "og:site_name"}/
%meta{:content => "#{t.meta.locale}", :property => "og:locale"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "#{edition}. #{t.meta.name}", :property => "og:title"}/
%meta{:content => "http://#{edition}.sesja.linuksowa.pl", :property => "og:url"}/
%meta{:content => "#{t.meta.description}", :property => "og:description"}/
%meta{:content => "http://#{edition}.sesja.linuksowa.pl/img/logo.png", :property => "og:image"}/ 
